In [38]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.array([[180, 100],[160, np.nan]]), columns=['Colonne 1', 'Colonne 2'], index=['Ligne 1', 'Ligne 2'])
csv = pd.read_csv("./datasets/housing/housing.csv")
df.head()

         Colonne 1  Colonne 2
Ligne 1      180.0      100.0
Ligne 2      160.0        NaN

# Renommer les libellés

In [18]:
df.rename(columns={'Colonne 1':'Taille', 'Colonne 2':'Poids'}, index={'Ligne 1':'Asterix', 'Ligne 2':'Obelix'}, 
          inplace=True)
df

         Taille  Poids
Asterix     180    100
Obelix      160     60

# 1. Statistiques rapides

In [ ]:
csv.describe()

# 2. Appliquer un masque

In [28]:
masque = (csv['longitude'] < -122.23) & (csv['latitude'] < 37.86)
csv_masque = csv[masque] # masque si True
csv_masque_rev = csv[~masque] # masque si False
csv_masque.head()

# Voir commande filter aussi, peut être utile (df.filter)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY

# 3. Laisser tomber les valeurs NaN

In [37]:
df_na = df.dropna()
df_na

        Colonne 1 Colonne 2
Ligne 1       180       100

# 4. Récupérer les valeurs uniques

In [41]:
csv_u = csv['ocean_proximity'].unique()
csv_u

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

# 5. Compter les valeurs

In [55]:
csv_count = csv['ocean_proximity'].value_counts() # retourne une série
csv_count

<1H OCEAN     9136
INLAND        6551
NEAR OCEAN    2658
NEAR BAY      2290
ISLAND           5
Name: ocean_proximity, dtype: int64