In [1]:
import numpy as np
import pandas as pd

df = pd.DataFrame(np.array([[180, 100],[160, np.nan]]), columns=['Colonne 1', 'Colonne 2'], index=['Ligne 1', 'Ligne 2'])
csv = pd.read_csv("./datasets/housing/housing.csv")
df.head()

         Colonne 1  Colonne 2
Ligne 1      180.0      100.0
Ligne 2      160.0        NaN

# Renommer index et colonnes

In [2]:
df.rename(columns={'Colonne 1':'Taille', 'Colonne 2':'Poids'}, index={'Ligne 1':'Asterix', 'Ligne 2':'Obelix'}, 
          inplace=True)
df

         Taille  Poids
Asterix   180.0  100.0
Obelix    160.0    NaN