# Lists

In [204]:
a = [1,2,3]
b = ['aaaa','ab',"xyz"]

In [205]:
cmp(a,b)

-1

In [206]:
len(a)

3

In [207]:
max(a)

3

In [208]:
min(a)

1

In [209]:
a.append(3)
print(a)
a.extend([1,2])
print(a)

[1, 2, 3, 3]
[1, 2, 3, 3, 1, 2]

In [210]:
a.count(3)

2

In [211]:
a.index(2)

1

In [212]:
a.insert(3,2009)
a

[1, 2, 3, 2009, 3, 1, 2]

In [213]:
a.pop(0) # remove the element at index 0 and returns it
del a[0] # remove the element at index 0
a.remove(2009)  # remove the element 2009
a

[3, 3, 1, 2]

In [214]:
a.reverse()
a

[2, 1, 3, 3]

In [215]:
a.sort(reverse=True)
print(a)
b.sort(key=len)
print(b)

[3, 3, 2, 1]
['ab', 'xyz', 'aaaa']

# Strings

In [216]:
s = "Je m'appelle Joel"

In [217]:
s.lower() # doesn't remove former string

"je m'appelle joel"

In [218]:
s.upper()

"JE M'APPELLE JOEL"

In [219]:
s.isspace() # test if all the elements are spaces
s.isdigit() # test if all the elements are digits
s.isalpha() # test if all the elements are alphas (no spaces and digits)

False

In [220]:
s.startswith("JE") # False
s.endswith("Joel")

True

In [221]:
s.find("Joel")

13

In [222]:
s_new = s.replace("Joel", "Marc")
s_new

"Je m'appelle Marc"

In [223]:
l = s.split(" ")
l

['Je', "m'appelle", 'Joel']

In [227]:
s_new = " ".join(l)
s_new

"Je m'appelle Joel"

Deletion, insertion and reverse() doesn't work on a string. We can only search for indices and patterns. Strings are actually immutable, you can only replace things.